<template>
  <layout title="购物车" :loading="loading">
    <scroll-view v-if="list.length > 0" scroll-y="true" class="main">
      <ul class="cart-item-list">
        <li class="cart-item" v-for="item in list" :key="item.id">
          <div class="cart-item-container">
            <img @click="onPressProduct" class="item-pic" mode="widthFix" :src="item.picture" />
            <div class="item-des">
              <div class="item-des-row" style="color: #333333;">
                <div class="item-name">{{item.name}}</div>
                <div class="item-price">
                  <span class="price-unit">￥ </span>{{item.price}}
                </div>
              </div>
              <div class="item-des-row">
                <div class="item-spec">{{item.color + ' - ' + item.size}}</div>
                <div class="item-originalPrice">{{item.originalPrice}}</div>
              </div>
              <div class="item-des-row">
                {{item.promotion}}
              </div>
              <div class="item-des-row">
                <div class="item-counter">
                  <div class="item-counter-box">
                    <img mode="widthFix" src="/static/images/minus-disabled-icon.svg" />
                  </div>
                  <div class="item-counter-box item-counter-count">
                    {{item.quantity}}
                  </div>
                  <div class="item-counter-box">
                    <img mode="widthFix" src="/static/images/plus-icon.svg" />
                  </div>
                </div>
                <img class="item-del" mode="widthFix" src="/static/images/delete-icon.svg" />
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="item-total">
        <div class="item-total-row">
          <div class="item-total-quantity">
            共 {{totalProduct.quantity}} 件商品
          </div>
          <div class="item-fee">
            <span>金额</span>
            <span>
              <span class="price-unit">￥ </span>{{totalProduct.cost}}</span>
          </div>
        </div>
        <div class="item-total-row">
          <div class="item-delivery">
            <div v-if="moreForFreeDelivery > 0">再购买{{moreForFreeDelivery}}元免邮</div>
            <div v-else>满49元包邮</div>
          </div>
          <div class="item-fee">
            <span>运费</span>
            <span>
              <span class="price-unit">￥ </span>{{totalDeliveryCost}}</span>
          </div>
        </div>
      </div>
      <div class="back-home" @click="navigateToHome">
        <img class="back-home-cart" mode="widthFix" src="/static/images/cart-icon.png" />
        <div class="back-home-text">继续购物</div>
        <img class="back-home-arrow" mode="widthFix" src="/static/images/arrow.svg" />
      </div>
      <div class="cart-footer">
        <div class="total-cost">
          总金额
          <div class="total-cost-unit">￥</div>
          <div class="total-cost-text">{{totalCost}}</div>
        </div>
        <div class="checkout-button">
          结算 ({{totalProduct.quantity}})
        </div>
      </div>
    </scroll-view>
    <div v-else class="main" style="justify-content: center;">
      <div class="empty">
        <img src="/static/images/cart.svg" />
        <p>您的购物车中没有商品</p>

        <!-- <a href="/pages/index/main" class="home">去购物</a> -->
        <button class="z-button" @click="navigateToHome">
          去购物
        </button>
      </div>
    </div>
  </layout>
</template>

<script>
import layout from '@/components/layout';
import { dbRequest } from '@/utils/request';
import { CART_ITEM_QUERY } from '@/constants';

export default {
  components: {
    layout,
  },
  data() {
    return {
      loading: false,
      list: [
        {
          id: 'fdsf33e3esd',
          name: 'T恤-男',
          picture: 'https://s1.lativ.com/i/34108/34108031/3410803_500.jpg',
          color: '麻灰',
          size: '175/100A(L)',
          promotion: '符合一穿爱上. 低至￥25活动',
          quantity: 1,
          price: 45,
          originalPrice: 49,
        },
        {
          id: 'fsjhfjkd785743jfsd',
          name: 'T恤-男',
          picture: 'https://s1.lativ.com/i/34108/34108031/3410803_500.jpg',
          color: '麻灰',
          size: '175/100A(L)',
          promotion: '符合一穿爱上. 低至￥25活动',
          quantity: 1,
          price: 45,
          originalPrice: 49,
        },
        {
          id: 'fsjhfjkd785743jfsd',
          name: 'T恤-男',
          picture: 'https://s1.lativ.com/i/34108/34108031/3410803_500.jpg',
          color: '麻灰',
          size: '175/100A(L)',
          promotion: '符合一穿爱上. 低至￥25活动',
          quantity: 1,
          price: 45,
          originalPrice: 49,
        },
        {
          id: 'fsjhfjkd785743jfsd',
          name: 'T恤-男',
          picture: 'https://s1.lativ.com/i/34108/34108031/3410803_500.jpg',
          color: '麻灰',
          size: '175/100A(L)',
          promotion: '符合一穿爱上. 低至￥25活动',
          quantity: 1,
          price: 45,
          originalPrice: 49,
        },
        {
          id: 'fsjhfjkd785743jfsd',
          name: 'T恤-男',
          picture: 'https://s1.lativ.com/i/34108/34108031/3410803_500.jpg',
          color: '麻灰',
          size: '175/100A(L)',
          promotion: '符合一穿爱上. 低至￥25活动',
          quantity: 1,
          price: 45,
          originalPrice: 49,
        },
      ],
      data: [],
    };
  },
  computed: {
    totalProduct() {
      const record = { cost: 0, quantity: 0 };
      this.list.forEach(({ price, quantity }) => {
        record.quantity += quantity;
        record.cost += price * quantity;
      });
      return record;
    },
    moreForFreeDelivery() {
      const diff = 49 - this.totalProduct.cost;
      return diff > 0 ? diff : 0;
    },
    totalDeliveryCost() {
      return this.moreForFreeDelivery > 0 ? 10 : 0;
    },
    totalCost() {
      return this.totalProduct.cost + this.totalDeliveryCost;
    },
  },
  methods: {
    navigateToHome() {
      wx.switchTab({
        url: '../index/main',
      });
    },
    onPressProduct() {
      wx.navigateTo({
        url: '../product/main',
      });
    },
  },
  async onShow() {
    try {
      this.loading = true;
      const { data } = await dbRequest(CART_ITEM_QUERY);
      this.data = data;
    } catch (e) {
      console.log('cartItemQuery error', e); // eslint-disable-line
    } finally {
      this.loading = false;
    }
  },
};
</script>

<style>
.empty {
  color: #999999;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -80px;
}
.empty img {
  width: 100px;
}
.empty p {
  margin-top: -55px;
  margin-bottom: 30px;
  letter-spacing: 1rpx;
}
.z-button {
  width: 70px;
  height: 30px;
  line-height: 30px;
  border: 0.1rpx solid #c6c6c6;
  color: #999999;
  font-size: 10px;
}
.cart-item-list {
  width: 100%;
}
.cart-item {
  background-color: #ffffff;
  padding: 15px 15px 0 15px;
}
.cart-item-container {
  height: 115px;
  display: flex;
  align-items: center;
  border-bottom: 0.1px solid #eeeeee;
  padding-bottom: 15px;
}
.item-pic {
  width: 80px;
}
.item-des {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  color: #999999;
}
.item-des-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-unit {
  font-size: 10px;
}
.item-originalPrice {
  font-size: 12px;
  text-decoration: line-through;
}
.item-counter {
  height: 32px;
  width: 99px;
  /* background: cyan; */
  display: flex;
  border: 0.1px solid #eeeeee;
}
.item-counter-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-counter-count {
  border-left: 0.1px solid #eeeeee;
  border-right: 0.1px solid #eeeeee;
  color: #333333;
  font-size: 15px;
}
.item-counter-box > img {
  width: 24px;
}
.item-del {
  width: 20px;
}
.item-total {
  width: 100%;
  height: 50px;
  background: #ffffff;
  margin-bottom: 10px;
  padding: 15px 0;
  font-size: 14px;
  color: #666666;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-total-row {
  margin: 0 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.item-total-quantity,
.item-delivery {
  flex: 5;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}
.item-total-quantity {
  color: #999999;
}
.item-fee {
  flex: 3;
  display: flex;
  justify-content: space-between;
}
.item-delivery > div {
  color: #b61d22;
  border: 0.1px solid #b61d22;
  padding: 0 8px;
  position: relative;
}
.item-delivery > div::after {
  content: '';
  width: 6px;
  height: 6px;
  background: #ffffff;
  display: block;
  position: absolute;
  top: 7.2px;
  right: -3px;
  transform: rotateZ(45deg);
  border-top: 0.1px solid #b61d22;
  border-right: 0.1px solid #b61d22;
}
.back-home {
  width: 100%;
  height: 50px;
  background: #ffffff;
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 130px;
}
.back-home-cart {
  width: 26px;
  margin-right: 20px;
}
.back-home-text {
  font-size: 16px;
  color: #666666;
  margin-right: 100px;
}
.back-home-arrow {
  width: 32px;
}
.cart-footer {
  width: 100%;
  height: 50px;
  background: #ffffff;
  display: flex;
  position: fixed;
  bottom: 0;
  border-top: 0.1px solid #eeeeee;
}
.total-cost {
  flex: 2;
  font-size: 14px;
  padding-left: 15px;
  color: #333333;
  line-height: 50px;
}
.total-cost > div {
  display: inline;
  color: #b61d22;
}
.total-cost-unit {
  font-size: 12px;
  margin-left: 10px;
}
.total-cost-text {
  font-size: 18px;
}
.checkout-button {
  flex: 1;
  background: #4d3126;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
}
</style>
