<template>
  <layout title="商品详情" showBack="true" @goBack="goBack">
    <scroll-view scroll-y="true" class="main">
      <swiper indicator-dots="true" class="picture-swiper">
        <swiper-item>
          <div class="picture-swiper-item-container item1"></div>
        </swiper-item>
        <swiper-item>
          <div class="picture-swiper-item-container item2"></div>
        </swiper-item>
        <swiper-item>
          <div class="picture-swiper-item-container item3"></div>
        </swiper-item>
      </swiper>
      <div class="content"></div>
    </scroll-view>
    <div class="footer-toolbar">
      <div class="footer-toolbar-icon"></div>
      <div class="footer-toolbar-icon"></div>
      <div class="footer-toolbar-icon"></div>
      <div class="footer-toolbar-gap"></div>
      <div class="footer-toolbar-add"></div>
    </div>
  </layout>
</template>

<script>
import layout from '@/components/layout';

export default {
  components: {
    layout,
  },
  computed: {

  },
  methods: {
    goBack() {
      wx.navigateBack();
    },
  },
};
</script>

<style>
.picture-swiper {
  height: 75%;
}
.picture-swiper-item-container {
  height: 100%;
}
.item1 {
  background-color: aqua;
}
.item2 {
  background-color: bisque;
}
.item3 {
  background-color: brown;
}
.content {
  height: 1000px;
}
.footer-toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: blueviolet;
  display: flex;
}
.footer-toolbar-icon {
  flex: 1;
}
.footer-toolbar-gap {
  flex: 1.25;
}
.footer-toolbar-add {
  flex: 1.75;
  background-color: #333333;
}
</style>
