<template>
  <div class="container">
    <div class="nav">
      <div v-if="showBack" @click="goBack" class="nav-back" hover-class="nav-back-hover">
        <img class="nav-back-icon" mode="widthFix" src="/static/images/back.svg"/>
      </div>
      <div v-else class="nav-gap"></div>
      <span v-if="!!title" class="nav-title">{{title}}</span>
      <img v-if="loading" class="nav-loading" src="/static/images/rolling.gif"/>
    </div>
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
    title: String,
    showBack: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    goBack() {
      this.$emit('goBack');
    },
  },
};
</script>

<style>
.container {
  position: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
}
.nav {
  height: 50px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  border-bottom: 0.1px solid #eeeeee;
}
.nav-title {
  font-size: 16px;
  margin-right: 2px;
}
.nav-loading {
  width: 25px;
  height: 25px;
}
.nav-back {
  padding: 16px 15px 10px 14px;
}
.nav-back-hover {
  background: #dddddd;
}
.nav-back-icon {
  width: 20px;
}
.nav-gap {
  width: 15px;
}
.main {
  height: 100%;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
