<script>
import request, { API_ENDPOINT } from '@/utils/request';
import { LOGIN_MUTATION } from '@/constants';

export default {
  async created() {
    try {
      const variables = {
        phoneNumber: '13681022527',
        password: 'nooneknows',
      };

      const { data } = await request(
        { url: API_ENDPOINT },
        LOGIN_MUTATION,
        variables,
      );
      const { token } = data.login;

      wx.setStorageSync('wx-token', token);
    } catch (error) {
      console.log('loginMutation error', error); //eslint-disable-line
    }

    // 调用API从本地缓存中获取数据
    // const logs = wx.getStorageSync('logs') || [];
    // logs.unshift(Date.now());
    // wx.setStorageSync('logs', logs);

    // eslint-disable-next-line
    // console.log('app created and cache logs by setStorageSync');
  },
};
</script>

<style>
/* this rule will be remove */
* {
  transition: width 2s;
  -moz-transition: width 2s;
  -webkit-transition: width 2s;
  -o-transition: width 2s;
}
</style>
